<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account successful</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

</head>

<body>
        <div class="background-container">
            <div class="created-container">
                <a href="#" class="created-cancel-image"><img src="../assets/Closecancel.svg" id="Cancel" alt=""></a>
                <img class="created-check-image" src="../assets/CheckCircle.svg" alt="check">
                
                <div class="created-header-text">Account Creation Successful</div>
                <button class="btn-continue">Continue</button>
                
            </div> 
        </div>
</body>

</html>