<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Modal Pop Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div class="background-container">
        <div class="cancel-container">
            <a href="#" class="cancel-image"><img src="../../assets/Closecancel.svg" id="Cancel" alt=""></a>
            <img class="cancel-check-image" src="../../assets/ExclamationCircle.svg" alt="check">

            <div class="cancel-header-text">
                <h4 class="cancel-header">You are about to cancel your appointment</h4>
                <p class="cancel-par">If you cancel the appointment, you won’t be able to meet the doctor.</p>
            </div>
            <button class="btn-continue">Yes, I want to cancel</button>

        </div>
    </div>
</body>

</html>