button {
    border: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 3px;
    width: 100%;
    height: 32px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: 62px;
}

/* primary button */
.primary-button {
    background: #246BFD;
}

.primary-button:hover {
    background: #538cff;
}

/* secondary button */
.secondary-button {
    background: #fd244f;
}

.secondary-button:hover {
    background: #ff5073;
}

/* outline button */
.outline-button {
    background: transparent;
    border: 1px solid #246BFD;
    color: black;
}

.outline-button:hover {
    background: black;
    color: white;
    border: none
}

/* error button */
.error-button {
    background: #ff0134;
}

.error-button:hover {
    background: #fe2752;
}