<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign out prompt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>

<body>
        <div class="background-container">
            <div class="signout-container">
                 <div class="signout-header-text">Sign Out</div>
                 <div class="signout-sub-text">Are you sure you want to sign out?</div>
                 <div class="signout-button-container">
                    <button class="btn-cancel">Cancel</button>
                    <button class="btn-signout">Sign Out</button>
                 </div>
            </div> 
        </div>
</body>

</html>