@import url(../../src/assets/css/main.css);
@import url(../button/button.css);
@import url(../nav-bar/nav-bar.css);
@import url(../input/input.css);

body {
  background-color: var(--color-background);
  background-color: #f5f8ff;
}

/* For Mobile Devices <= 520px */

/* Settings Section begins */
.settings-container {
  max-width: 293px;
  height: 173px;
  left: 64px;
<<<<<<< HEAD
  top: 106px; 
  background: var(--color-secondary);
  box-shadow: 0px 4px 20px rgba(186, 197, 255, 0.25);
  border-radius: 10px;
}  
=======
  top: 106px;
  background: var(--color-secondary);
  box-shadow: 0px 4px 20px rgba(186, 197, 255, 0.25);
  border-radius: 10px;
}
>>>>>>> alawiye

.settings-heading {
  width: 100%;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-body);
<<<<<<< HEAD
}  
=======
}
>>>>>>> alawiye

.settings-options {
  display: flex;
  flex-direction: column;
  width: 100%;
<<<<<<< HEAD
}  
=======
}
>>>>>>> alawiye

.settings-options a {
  text-decoration: none;
  padding: 15px 20px;
<<<<<<< HEAD
}  
=======
}
>>>>>>> alawiye

.settings-options .profile {
  background: var(--color-profile-bg);
  color: var(--color-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
<<<<<<< HEAD
}  
=======
}
>>>>>>> alawiye

.settings-options .deactivate {
  color: var(--color-danger);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
<<<<<<< HEAD
}  
=======
}
>>>>>>> alawiye
/* Settings Section ends */

/* Main Wrapper Section begins */
.main-wrapper {
  background: var(--color-secondary);
  box-shadow: 0px 4px 20px rgba(186, 197, 255, 0.25);
  border-radius: 10px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  /* margin: 5px 20px 40px; */
  padding-bottom: 30px;
}

.main-wrapper .title {
  display: none;
}

<<<<<<< HEAD

=======
>>>>>>> alawiye
.flex-direction-column {
  flex-direction: column;
  width: 100%;
}

.image-container {
  height: 260px;
  /* width: 80%; */
}

.form-container {
  /* width: 80%; */
  margin-top: 10px;
}

/* Image Container */
.roundbg {
  border-radius: 50%;
  width: 118px;
  height: 118px;
  background-color: var(--color-input);
  margin: 20px;
}

.plus {
  margin-left: 34px;
  margin-top: 34px;
}

.text {
  display: block;
  font-size: 16px;
  color: #153d90;
  margin-bottom: 17px;
  text-align: center;
  text-decoration: none;
}

.w-50 {
  width: 50% !important;
}

<<<<<<< HEAD

=======
>>>>>>> alawiye
.form-group span {
  color: var(--color-danger);
}

.form-input {
  /*input properties*/
  border: 1px solid var(--color-input);
  color: var(--color-black);
}

/* Button */
button.save-changes {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* Main Wrapper Section ends */

<<<<<<< HEAD

=======
>>>>>>> alawiye
/* Facility Images section begins*/

.facility-container {
  background-color: var(--color-secondary);
  width: 295px;
  height: 368px;
  border-radius: 10px;
  padding: 15px;
<<<<<<< HEAD
}    
=======
}
>>>>>>> alawiye

.box-group {
  display: flex;
}

.facility-name {
  font-size: 20px;
  padding-bottom: 16px;
<<<<<<< HEAD
  color:  #454545;
=======
  color: #454545;
>>>>>>> alawiye
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
}

.grey-bg {
  background-color: var(--color-input);
  border-radius: 3px;
  margin: 1.5px;
}
<<<<<<< HEAD
  
=======

>>>>>>> alawiye
.big-box {
  max-width: 260px;
  height: 150px;
  margin-bottom: 1.5px;
}
<<<<<<< HEAD
  
.small-box {
  width: 85.50px;
  height: 64px;
}
  
=======

.small-box {
  width: 85.5px;
  height: 64px;
}

>>>>>>> alawiye
.plus-icon {
  margin-left: 30px;
  margin-top: 20px;
}
<<<<<<< HEAD
  
=======

>>>>>>> alawiye
.facility-code {
  padding-top: 20px;
  padding-left: 10px;
}
<<<<<<< HEAD
  
=======

>>>>>>> alawiye
.facility-label {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
<<<<<<< HEAD
  
/* Facility Images section ends*/

=======

/* Facility Images section ends*/
>>>>>>> alawiye

/* For Tablet (799 - 521) */

@media (max-width: 799px) and (min-width: 521px) {
<<<<<<< HEAD

=======
>>>>>>> alawiye
  .main-wrapper {
    /* flex-direction: column; */
    width: 90%;
  }

  .main-wrapper .title {
    display: block;
    align-self: flex-start;
    padding: 25px 0 0 47px;
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
  }

  .flex-content {
    display: flex;
    justify-content: space-between;
  }

  .image-container {
    align-self: flex-start;
    width: 40%;
  }

  .form-container {
    border-left: 2px solid var(--color-input);
    padding: 0 10% 0 5%;
  }

  .form-input {
    margin-bottom: 24px;
  }
}

<<<<<<< HEAD

/* For Desktop >= 800px */
@media screen and (min-width: 800px) {

    .nav-small {
        display: none;
    }

    .nav-bar {
        display: flex;
    }

    .main-wrapper {
        flex-direction: column;
        width: 80%;
    }

    .flex-content {
      display: flex;
      /* justify-content: space-between; */
      /* align-items: center; */
    }
    
    .image-container {
        align-self: flex-start;
        width: 30%;
    }

    .form-container {
        border-left: 2px solid var(--color-input);
        padding: 0 25% 0 5%;
    }

    .form-input {
        margin-bottom: 24px;
    }

=======
/* For Desktop >= 800px */
@media screen and (min-width: 800px) {
  .nav-small {
    display: none;
  }

  .nav-bar {
    display: flex;
  }

  .main-wrapper {
    flex-direction: column;
    width: 80%;
  }

  .flex-content {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
  }

  .image-container {
    align-self: flex-start;
    width: 30%;
  }

  .form-container {
    border-left: 2px solid var(--color-input);
    padding: 0 25% 0 5%;
  }

  .form-input {
    margin-bottom: 24px;
  }
>>>>>>> alawiye
}
