<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Changed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <main>
        <div class="container">
            <div class="main">
                <a href="#"><img src="../assets/Closecancel.svg" id="desktopCancel" alt="" /></a>
                <!-- Logo -->
                <div class="logo">
                    <h1>Medbookly</h1>
                </div>
                <div class="form">
                    <div class="padlock">
                        <!-- check icon -->
                        <img class="closebtn" src="../assets/CheckCircle.png" alt="CheckCircle" />
                    </div>
                    <div>
                        <div class="text">
                            <h3 class="password">Password Changed</h3>
                            <p class="p">
                                Your password has been changed successfully. Use your new
                                password to log in.
                            </p>
                        </div>
                        <button class="pass-changed-btn">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>