<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial verify email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

</head>

<body>
        <div class="background-container">
            <div class="initial-container">
                <a href="#" class="initial-cancel-image"><img src="../assets/Closecancel.svg" id="Cancel" alt=""></a>
                <div class="initial-header-text">Verify Your Email</div>
                <div class="initial-sub-text">You will need to verify your email address to complete registration. An email has been sent to <span>admin@medbookly.com</span> with a link to verify your account. If you have not received the email after a few minutes, please check your spam folder</div>
                <button class="btn-resend">Resend Email</button>
                
            </div> 
        </div>