<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Cancel Successful</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

</head>

<body>
        <div class="background-container">
            <div class="booking-container">
                <a href="#" class="booking-cancel-image"><img src="../../assets/Closecancel.svg" id="Cancel" alt=""></a>
                <img class="booking-check-image" src="../../assets/CheckCircle.svg" alt="check">
                
                <div class="booking-header-text">
                    <h4 class="cancel-header">Appointment Cancel Successful</h4>
                    <h4 class="cancel-par">Your appointment with the doctor has been successfully cancelled.</h4>
                </div>
                <button class="btn-continue">Ok</button>
                
            </div> 
        </div>
</body>

</html>